/* Animation to hidde the shopping cart in a min-width:768px */


@keyframes close_cart{
    0%{
        top: 71px;
        opacity: 1;
    }
    100%{
        top: 0;
        opacity: 0
    }
}


/* Animation to show the shopping cart in a min-width:768px */


@keyframes  open_cart{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        
        top: 71px;
        opacity: 1;
    }
}





/* Animation to hidde the shopping cart in a max-width:768px (Mobile) */


@keyframes close_cart-mobile{
    0%{
        top: 58px;
        opacity: 1;
    }
    100%{
        top: 0;
        opacity: 0
    }
}


/* Animation to show the shopping cart in a max-width:768px (Mobile)*/


@keyframes  open_cart-mobile{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        
        top: 58px;
        opacity: 1;
    }
}

