:root {
  --white: #fefefe; 
  --malachite: #0ac763; 
  --silver: #bdbcbc; 
  --cocoabrown: #332927; 
  --boulder: #b8b4b4; 
  --scarlet: #ff1f18; 
  --cobalt: #0252bc; 
  --black: #; 
  --purple: #5e18bb; 
  --purple-bg: #f0e3fe; 
  --bg: #fafaf8; 
  --orange: #fc462d; 
  --headline1: 600 1.75rem/normal Poppins; 
  --headline2: 600 1.5rem/normal Poppins; 
  --headline3: 600 1.25rem/1.375rem Poppins; 
  --button: 400 0.875rem/1rem Poppins; 
  --body1-regular: 400 1rem/1.5rem Poppins; 
  --body1-bold: 700 1rem/1.5rem Poppins; 
  --body2-bold: 700 0.875rem/1.5rem Poppins; 
  --body2-regular: 400 0.875rem/1.5rem Poppins; 
  --caption-regular: 400 0.75rem/1rem Poppins; 
  --caption-bold: 600 0.75rem/1rem Poppins; 
}

body {
  color: var(--malachite);
  font: var(--body1-regular);
  background-color: var(--white);
  margin: 0;
}

/* *******************  HEADER  */
.header{
  background-color: var(--bg)
}
.logo{
  color: var(--orange);
  font: var(--headline1);
  margin: 0;
}
.navbar{
  background-color: var(--white);
  box-shadow: 0px 4px 3px rgb(243, 243, 243);
  padding: 9px 9.1%;

  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 82%;
}

.nav_options_container{
  display: flex;
  align-items: center;
}
.location_container{
  display: inherit;
  align-items: inherit;
}

.spacing_line{
  height: 25px;
  width: 1px;
  background-color: var(--boulder);
  border: none;
  margin: 0px 10px;
}
.close_icon{
  height: 15px;
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 23px;
  margin-top: 9px;
  cursor: pointer;
}

.shopping_cart_btn{
  display: flex;
  align-items: center;
  position: relative;
  z-index:1;

  background-color: var(--malachite);
  border: 0px;
  border-radius: 7px;
  color: var(--white);

  padding: 5px 18px;
  cursor: pointer;
}
.shopping_cart_btn:hover{
  background-color:#17D26F;
}
.shopping_cart_icon{
  height: 22px;
  width: 22px;

  margin-right: 4px;
  cursor: pointer;
}
.map_pin_icon{
  margin-right: 8px;
}
.location{
  color: var(--cocoabrown)
}

.cart{
  position: absolute;
  width: 744px;
  max-height:660px;
  background-color: var(--white);
  color: var(--cocoabrown);
  box-shadow: 0 0 6px rgb(214 214 214);
  border-radius: 12px;
  right: 0;
  top: 71px;
  margin-right: 9%;
  overflow: auto;
}
.cart__title{
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--body2-bold);
  margin-top: 13px;
  position: relative;
}
.cart__icon{
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.products_cart_instructions{
  display: flex;
  justify-content: right;
  padding-right: 8%;
}
.products_cart_instructions span{
  margin-right: 47px;
}

.cart_product_image{
  height: 90px;
  width: 90px;
  margin-left: 2%;
}
.products_cart_container{
  margin-bottom: 35px;
}
.product_cart{
  display: flex;
  align-items: center;
}

.product_quantity_container{
  margin-left: 19.4%;
}
.products_price_container{
  margin-left: 4%
}
.eliminate_btn{
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-left: 5%;
}
.product__cart_description{
  display: flex;
  flex-direction: column;
}
.products__container{
  max-height: 411px;
  overflow: auto;
  margin-right: 9px;
  padding-left: 9px;
}
.cart_product_name{
  font: var(--body1-bold);
}
.product_quantity{
  background-color: #AC9A9C;
  height: 26px;
  width: 50px;
  border-radius: 20px;
  padding: 0;
  border: 0;
  font: var(--body2-bold);
  outline: none;
  text-align: center;
  color: var(--white);
}
.less_product_btn{
  background-color: #AC9A9C;
  color: var(--white);
  border: 0;
  border-radius: 20px;
  height: 26px;
  width: 26px;
  cursor: pointer;
  font: var(--body2-bold);
  padding: 0;
}
.more_product_btn{
  background-color: #AC9A9C;
  color: var(--white);
  border: 0;
  border-radius: 20px;
  height: 26px;
  width: 26px;
  cursor: pointer;
  font: var(--body2-bold);
  padding: 0;
}

.product_quantity:hover{
  background-color: #C8B0B3;
}
.less_product_btn:hover{
  background-color: #C8B0B3;
}
.more_product_btn:hover{
  background-color: #C8B0B3;
}


.product_quantity:active{
  background-color: #D4B2B6;
}
.less_product_btn:active{
  background-color: #D4B2B6;
}
.more_product_btn:active{
  background-color: #D4B2B6;
}

.pay_button_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}
.subtotal{
  font: var(--body1-bold); 
  color: #225733;
  margin-bottom: 9px;
}
.pay_button{
  background-color: var(--malachite);
  color: white;
  height: 30px;
  width: 140px;
  border: 0;
  border-radius: 35px;
  font: var(--button);
  cursor: pointer;
}
.pay_button:hover{
  background-color: #17D26F
}
/* *******************  MAIN  */
.main{
  padding: 58px 9.1% 74px 9.1%;
  background-color: var(--bg)
}
.hero_section{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}
.hero{
  height: 277px;
  width: 100%;
  background-image: url(../images/banner.png);
  background-position-x: center;
  background-position-Y: center;
  background-size: 100%;
  background-repeat:no-repeat;
  border-radius: 12px;

  display: inherit;
  justify-content: inherit;
  align-items: center;
}
.hero__title{
  color: var(--white);
  font:var(--headline1);
}

.products_group_container{
  background-color: var(--white);
  width: calc(100% - 35px);
  height: 500px;
  box-shadow: 0 0 6px rgb(224, 224, 224);
  border-radius: 12px;
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 35px;
}
.products_group--title{
  color: var(--cocoabrown)
}
.products__title--margin{
  margin-bottom: 0;
}
.products__group--height{
  height: 490px;
}

.product_card{
  border-radius: 12px;
  height: 414px;
  width: 225px;
  margin-right: 40px;

  display: flex;
  flex-direction: column;
}

.offer_phill{
  background-color: var(--purple-bg);
  color: var(--purple);
  font:  var(--caption-regular);
  width: 60px;
  padding: 3px 0;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 50px;
}
.product_image--container{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 225px;
  max-height: 103px;
  margin: 16px 0;
}
.mt-1{
  margin-top: 85px;
}
.product_image--container img{
  object-fit: cover;
}
.product__title{
  margin-top: 56px; 
}
.product__price{
  color: var(--cocoabrown);
  font: var(--body1-bold);  
}
.product__lastprice{
  color: var(--boulder);
  font: var(--body1-bold);
  text-decoration:line-through;
}
.product__name{
  color: var(--cocoabrown);
  font: var(--body2-regular);
  margin-top: 1px;
}

.card__button{
  width: 100%;
  height: 37px;
  margin-top: 42px;
  border-radius: 8px;
  border: 0;
  outline: none;
  background-color: var(--malachite);
  font: var(--button);
  color: var(--white);
  cursor: pointer;
}
.card__button:hover{
  background-color: #17D26F;
}

.cards_container{
  display: flex;
  overflow: auto;
  
}


/* *******************  FOOTER  */
.footer{
  background-color: var(--bg);
  width: 80%;
  height: 70px;
  box-shadow: 0 0 6px rgb(224, 224, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
}

.footer__link{
  font: var(--body1-bold);
  text-decoration-line: none;
  color: var(--cocoabrown);
}

.product__image{
  height: 200px;
  width: 200px;
}

.display-none{
  display: none;
}
