@media screen and (max-width: 1366px){
    .logo{
        font: var(--headline2);
    }
    .hero__title{
        font:var(--headline2);
      } 
}

@media screen and (max-width: 1024px){
    .hero__title{
       font:var(--headline3);
    } 
    .hero{
        height: 174px;
    }
    .hero_section{
        padding-top: 30px;
    }
    .products_group_container{
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px){
    
    .cards_container::-webkit-scrollbar {
        height: 7px;
    } 
    .cards_container::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
    }
    
    .main{
        padding: 0 9.1% 50px 9.1%;
    }
    .products_group--title{
        font: var(--headline3)
    }
    
    .main{
        padding:0 4% 50px 4%;
    }
    .navbar{
        padding: 9px 4%;
    }
}

@media screen and (max-width: 768px){
    
}