@media screen and (max-width: 1366px){
    .logo{
        font: var(--headline2);
    }
    .hero__title{
        font:var(--headline2);
      } 
    .hero{
        height: 215px;
        background-size: auto;
    }
    .cart_product_name{
        font: var(--body2-bold);
    }
    .cart_product_weight{
        font: var(--body2-regular);
    }
    .subtotal{
        font: var(--body2-bold);
    }
    .cart_product_image{
        height: 70px;
        width: 70px;
    }
    .cart{
        width: 650px;
    }
    .products__container{
        margin-right: 60px;
        padding-left: 28px;
        max-height: 310px;
    }
    .products_cart_instructions{
        padding-right: 5%;
    }
    .products_cart_instructions span{
        margin-right: 40px;
    }
    .product_quantity_container {
        margin-left: 15.8%;
    }
    
}

@media screen and (max-width: 1024px){
    .hero__title{
       font:var(--headline3);
    } 
    .hero{
        height: 174px;
    }
    .hero_section{
        padding-top: 30px;
    }
    .products_group_container{
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px){
    
    .cards_container::-webkit-scrollbar {
        height: 7px;
        padding: 2px 0;
    } 
    .cards_container::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
    }
    

    .cart::-webkit-scrollbar {
        width: 7px;
    } 
    .cart::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
    }


    .products__container::-webkit-scrollbar {
        width: 7px;
    } 
    .products__container::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
    }



    .main{
        padding: 58px 9.1% 74px 9.1%;
    }
    .products_group--title{
        font: var(--headline3)
    }    
    
    
}

@media screen and (max-width: 768px){
    .hero_section{
        padding-top: 20px;
    }
    .products_group_container{
        margin-top: 20px;
        border-radius: 0;
    }
    .hero{
        margin-left: 20px;
        margin-right: 20px;
    }
    .hero__title{
        text-align: center;
    }
    .main{
        padding-left: 0;
        padding-right: 0;
    }
    .cart{
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
}


@media screen and (max-width: 640px){
    .products_group--title{
        font: var(--headline3)
    }
    .product_card{
        width: 192px;
    }
    .product_image--container{
        width: 192px;
    }
    .products_group_container{
        padding-left: 20px;
        width: calc(100% - 20px);
    }
    .card__button {
        height: 33px;
    }
    .footer__link{
        font: var(--body2-bold);
    }
    .spacing_line{
        display: none;
    }
    .hero__title{
        font: var(--body1-bold);
    }
    .hero{
        padding: 0 10px;
    }
    .location_container{
        position: absolute;
        text-align: center;
        left: calc(50vw - 103px);
        margin-top: 45px;        
    }
    .navbar{
        height: 80px;
        padding: 9px 3.4%;
        width: 93%;
    }
    .nav_options_container {
        margin-top: 4px;
        align-items: initial;
    }
    .main{
        padding-top: 98px;
    }
    .map_pin_icon{
        display: none;
    }
    .footer{
        width: 86%;
        padding: 0px 7%;
    }
}

@media screen and (max-width: 380px){
    .product_image--container {
        width: 169px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 184px;
        padding: 26px 7%;
    }
}