/* Animation to hidde the shopping cart in a min-width:768px */


@keyframes close_cart{
    0%{
        top: 71px;
        opacity: 1;
    }
    100%{
        top: 0;
        opacity: 0
    }
}


/* Animation to show the shopping cart in a min-width:768px */


@keyframes  open_cart{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        
        top: 71px;
        opacity: 1;
    }
}





/* Animation to hidde the shopping cart in a max-width:768px (Mobile) */


@keyframes close_cart-mobile{
    0%{
        top: 58px;
        opacity: 1;
    }
    100%{
        top: 0;
        opacity: 0
    }
}


/* Animation to show the shopping cart in a max-width:768px (Mobile)*/


@keyframes  open_cart-mobile{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        
        top: 58px;
        opacity: 1;
    }
}



/* Animation when you add a product to the cart */

.add_product_alert{
    animation-name: add_product_alert;
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes  add_product_alert{
    0%{
        background-color: #17D26F;
        transform: scale(1.0);
    }
    50%{
        background-color: #e68328;
        transform: scale(1.1);
    }
    100%{
        
        background-color: #17D26F;
        transform: scale(1.0);
    }
}


/* Animation when you remove a product from the cart */

.remove_product_anim{
    animation-name: remove_product;
    animation-duration: .2s;
    animation-fill-mode: both;
}

@keyframes  remove_product{
    0%{
        height: 90px;
        opacity: 100%;
    }    
    100%{
        
        height: 0;
        opacity: 20%;
    }
}

/* Animation for the alert "Empty Cart" */
.empty_cart_anim{
    animation-name: empty_cart_anim;
    animation-duration: .2s;
    animation-fill-mode: both;
}

@keyframes  empty_cart_anim{
    0%{
        opacity: 20%;
    }    
    100%{
        
        opacity: 100%;
    }
}


/* ANIMATIONS FOR EVERY RESOLUTION */

@media (min-width: 768px){
    .close_cart{
        animation-name: close_cart;
        animation-duration: .2s;
        animation-fill-mode: both;
    }
    .open_cart{
        animation-name: open_cart;
        animation-duration: .2s;
        animation-fill-mode: both;
    }
}

@media (max-width: 768px){
    .close_cart{
        animation-name: close_cart-mobile;
        animation-duration: .2s;
        animation-fill-mode: both;
    }
    .open_cart{
        animation-name: open_cart-mobile;
        animation-duration: .2s;
        animation-fill-mode: both;
    }
}